{% extends 'base.html' %}
{% block title %}
    Create Recipe
{% endblock title %}
{% block content %}
<div class="page-container">
    <header>
        <nav>
            <a class="main-page-hyperlink" href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <div class="content-wrap">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
</div>
