{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipe
{% endblock title %}
{% block content %}
<div class="page-container">
    <header>
        <nav>
            <a class="main-page-hyperlink" href="{% url 'recipe_list' %}">Main Page</a>
            {% if user.is_authenticated %}
            <a class="edit-recipe-hyperlink" href="{% url 'edit_recipe' recipe_name.id %}">Edit Recipe</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <div class="content-wrap">
            <h1 class="h1-title">{{ recipe_name.title }}</h1>
            <div class="created-date">Created on {{ recipe_name.created_on|date:"F j, Y"}}</div>
            <img src="{{ recipe_name.picture }}">
            <div class="star-rating">4.3 stars</div>
            <div class="recipe-description">{{ recipe_name.description }}</div>
            <h2>Ingredients</h2>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in recipe_name.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Steps</h2>
                <ol>
                    {% for step in recipe_name.steps.all %}
                    <li>{{ step.instruction }}</li>
                    {% endfor %}
                </ol>
        </div>
    </main>
    {% endblock content %}
    </div>
{% load static %}
