{% extends 'base.html' %}
{% block title %}
    Edit Recipe
{% endblock title %}
{% block content %}
<div class="page-container">
    <header>
        <nav>
            <a class="main-page-hyperlink" href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <div class="content-wrap">
            <h1>Edit {{ recipe.title }}</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button>Save</button>
                </form>
        </div>
    </main>
{% endblock content %}
</div>
