{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <div class="page-container">
        <header>
            <nav>
                {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a class="main-page-hyperlink" href="{% url 'recipe_list' %}">Main Page</a>
                <a class="create-recipe-hyperlink" href="{% url 'create_recipe' %}">Create Recipe</a>
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'user_logout' %}">Logout</a>
                {% else %}
                <a class="main-page-hyperlink" href="{% url 'recipe_list' %}">Main Page</a>
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <div class="content-wrap">
                <h1 class="h1-title">Scrumptious Recipes</h1>
                <h2 class="h2-list-title">All the food that's fit to eat</h2>
                <div class="recipe-grid">
                    {% for recipe in recipe_list %}
                    <div class="recipe-item" style='background-color:{% cycle 'white' 'white' 'yellow' %}'>
                        <h3>
                            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                        </h3>
                        <img src="{{ recipe.picture }}">
                        <div class="star-rating">4.3 stars</div>
                        <p>Created on {{ recipe.created_on|date:"M j, Y" }}</p>
                    </div>
                    {% empty %}
                        <p>There are no recipes.</p>
                    {% endfor %}
                </div>
            </div>
        </main>
{% endblock content %}
    </div>
{% load static %}
