@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

html {
    overflow-y: scroll;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 25px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

footer {
    width: 100%;
    background-color: #B4CF66;
    position: absolute;
    bottom: 0;
    height: 40px;
}

img {
    height: 200px;
    max-width: 200px;
}

nav{
    border-bottom: black 1px solid;
    padding: 16px;
    background-color: #FF5A33;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

nav a {
    width:fit-content
    margin:15px
}

nav a:visited {
    color: white
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgba(0, 128, 0, 0.288);
}
.recipe-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav, nav a {
    color: white;
}

.h1-title {
    color: #146152;
    margin-bottom: 3px;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    margin-top: 10px;
}

.h2-list-title {
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    margin-bottom: 15px;
}

.created-date {
    font-size: 10px;
    margin-bottom: 25px;
}

.recipe-item>h3>a {
    color: #44803F;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
}

h3a:visited {
    color: #44803F;
}

.star-rating {
    color: black;
    margin-bottom: 5px;
    font-family: 'Tangerine', cursive;
    font-size: 20px;
}

.recipe-description {
    font-family: 'Tangerine', cursive;
    font-size: 25px;
}

div p {
    font-size: 10px;
    margin: 20px;
}

label {
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: rgb(211, 211, 211)
}
form {
    justify-items: center;
    height: 500px;
}
form p{
    display: grid;
    justify-content: center;
    width: 400px;
    grid-template-columns: 1fr 1fr;
}

label {
    font-weight: bold;
}

button {
    background-color: #44803F;
    height: 30px;
    width: 100px;
}

button:hover {
    background-color: #FF5A33;
}
